config:
  kubernetes:config:
    proxmox:
      api-token:
        ref: op://Pulumi/cejfwasemie3kbbfphb5zta2ci/password
      api-endpoint: https://pve.tobiash.net:8006
      node-name: pve
    cert-manager:
      # renovate: datasource=github-releases packageName=cert-manager/cert-manager versioning=semver
      version: v1.19.3
      use-staging: false
      resources:
        controller:
          cpu: 10m
          memory: 106Mi
        cainjector:
          cpu: 10m
          memory: 100Mi
        webhook:
          cpu: 10m
          memory: 100Mi
    cloudnative-pg:
      # renovate: datasource=github-releases packageName=cloudnative-pg/charts extractVersion=^cloudnative-pg-v(?<version>.*)$ versioning=semver
      version: 0.27.1
      # renovate: datasource=github-releases packageName=cloudnative-pg/charts extractVersion=^plugin-barman-cloud-v(?<version>.*)$ versioning=semver
      barman-plugin-version: 0.5.0
      resources:
        operator:
          cpu: 10m
          memory: 105Mi
        barman:
          cpu: 10m
          memory: 100Mi
      backup:
        endpoint:
          ref: op://Pulumi/IDrive e2 Postgres/Endpoint
        access-key-id:
          ref: op://Pulumi/IDrive e2 Postgres/Access Key ID
        secret-access-key:
          ref: op://Pulumi/IDrive e2 Postgres/Secret Access Key
    cloudflare:
      api-key:
        ref: op://Pulumi/Cloudflare Global API Key/password
      email: tobias_henkel@gmx.de
      zone: tobiash.net
    csi-nfs-driver:
      # renovate: datasource=github-releases packageName=kubernetes-csi/csi-driver-nfs versioning=semver
      version: v4.13.1
      resources:
        cpu: 10m
        memory: 100Mi
    microk8s:
      # renovate: datasource=github-tags packageName=canonical/microk8s versioning=loose
      version: "1.35"
      vlan: 40
      ssh-public-key: ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIFLGX6Nw50R8EGcDgR69SkvAgX/NR71vLHlYuB7lkyoJ
      metallb:
        # renovate: datasource=github-releases packageName=metallb/metallb versioning=semver
        version: 0.15.3
        start: 192.168.40.70
        end: 192.168.40.99
        resources:
          controller:
            cpu: 10m
            memory: 100Mi
          speaker:
            cpu: 10m
            memory: 100Mi
      master-nodes:
        - name: microk8s-prod-master-0
          address: 192.168.40.10/24
          cores: 16
          memory-min: 0
          memory-max: 32768
          disks:
            - size: 70
            # Data disk
            - size: 100
    traefik:
      # renovate: datasource=github-releases packageName=traefik/traefik-helm-chart extractVersion=^v(?<version>.*)$ versioning=semver
      version: 39.0.2
      resources:
        cpu: 10m
        memory: 100Mi
    metrics-server:
      # renovate: datasource=github-releases packageName=kubernetes-sigs/metrics-server extractVersion=^metrics-server-helm-chart-(?<version>.*)$ versioning=semver
      version: 3.13.0
      resources:
        cpu: 10m
        memory: 100Mi
    vertical-pod-autoscaler:
      # renovate: datasource=github-releases packageName=kubernetes/autoscaler extractVersion=^vertical-pod-autoscaler-chart-(?<version>.*)$ versioning=semver
      version: 0.8.0
      resources:
        cpu: 10m
        memory: 100Mi
